<div class="title-container">
  <h1>Password Strength Checker</h1>
</div>

<div class="password-container">
  <h1 class="input-heading">Check the strength of your password here</h1>
  
  <input 
    type="password" 
    [(ngModel)]="password" 
    (input)="checkStrength()" 
    placeholder="Enter your password"
    class="password-input" 
  />

  <div class="strength-meter">
    <div [ngClass]="{'section': true, 'gray': strength === 'empty', 'red': strength === 'weak' || (strength !== 'strong' && password.length < 8), 'yellow': strength === 'medium' && password.length >= 8, 'green': strength === 'strong'}"></div>
    <div [ngClass]="{'section': true, 'gray': strength === 'empty' || strength !== 'medium' && strength !== 'strong', 'yellow': strength === 'medium', 'green': strength === 'strong'}"></div>
    <div [ngClass]="{'section': true, 'gray': strength === 'empty' || strength !== 'strong', 'green': strength === 'strong'}"></div>
  </div>

  <p *ngIf="message" class="strength-message">{{ message }}</p>
</div>